@use 'base/mixins' as m;
@use 'base/variables' as v;

.formulario-test {
    background-color: darken($color: v.$grisOscuro, $amount: 10%);
    border-radius: 1rem;
    padding: 2rem;
    margin-top: 2rem;
    margin-bottom: 5rem;

    p {
        font-size: 2rem;
        font-weight: 700;
    }

    .campo-radio {
        margin-bottom: 2rem;

        &:last-of-type() {
            margin-bottom: 0;
        }
    }

    .opciones-test {
        margin-left: 2rem;
        display: grid;
        gap: 1rem;

        .radio { 
            display: flex;
            gap: 1rem;
        }

        label {
            color: v.$grisClaro;
            font-size: 1.6rem;
        }
    }
}
