@use 'base/mixins' as m;
@use 'base/variables' as v;

.formulario-test {
    background-color: lighten($color: v.$cuarto, $amount: 10%);
    border-radius: 1rem;
    padding: 2rem;
    margin-top: 2rem;
    margin-bottom: 5rem;

    p {
        font-size: 2rem;
        font-weight: 700;
        color: darken($color: v.$sexto, $amount: 5%);
    }

    .campo-radio {
        margin-bottom: 2rem;

        &:last-of-type() {
            margin-bottom: 0;
        }
    }

    .opciones-test {
        margin-left: 2rem;
        display: grid;
        gap: 1rem;
        margin-top: 1rem;

        .radio { 
            display: flex;
            gap: 1rem;
        }

        label {
            color: v.$grisOscuro;
            font-size: 1.6rem;
        }
    }

    .campo {
        label {
            color: darken($color: v.$sexto, $amount: 5%);
        }

        input:not([type="checkbox"]),
        input:not([type="radio"]),
        textarea,
        select {
            border-bottom-color: v.$verdeClaro;
            color: v.$grisOscuro;

            &::placeholder {
                color: v.$grisOscuro;
            }
        }
    }
}
