@use 'base/mixins' as m;
@use 'base/variables' as v;

.inicio-tests {
    margin-top: 5rem;
    margin-bottom: 5rem;
    display: grid;
    gap: 5rem;

    .categoria {
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
        background-color: v.$blanco;
        border-radius: 1rem;
        padding: 1rem;

        @include m.tablet{
            padding: 2rem;
        }

        .acciones-categoria {
            display: flex;
            flex-direction: column;
            
            @include m.telefono{
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                gap: 2rem;
            }

            a {
                margin-left: 2rem;
                color: v.$secundario;

                @include m.tablet{
                    margin: 0;
                }
            }

            h3 {
                margin: 0;
                background: linear-gradient(45deg, v.$terciario, v.$secundario);
                background-clip: text;
                color: transparent;
            }
        }
    }
}


.tests-categoria {
    display: flex;
    overflow: auto;
    gap: 2rem;
    padding: 2rem 0;

    .test {
        flex: 0 0 40rem;
        background-color: v.$primario;
        padding: 1rem;
        border-radius: 1rem;
        display: block;

        h3 {
            margin: 0;
        }
    }

    .sin-tests {
        margin: 0 0 0 2rem;
        font-size: 2rem;
        font-weight: 700;
        color: v.$secundario;
    }
}