@use 'base/mixins' as m;
@use 'base/variables' as v;

.nombre-test {
    font-size: 3.2rem;
    color: v.$primario;
    text-align: center;
    margin-bottom: 5rem;
}

.contenedor-test-edu {

    .contenedor-puntos p {
        color: v.$secundario;
    }

    .contenedor-instruccion {
        h3 {
            color: v.$verde;

            @include m.tablet{
                margin-left: 2rem;
            }
        }

        blockquote {
            margin: 2rem 1rem;

            @include m.telefono{
                margin-left: 4rem;
            }

            p {
                color: v.$grisOscuro;
            }
        }
    }

    .acciones {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        
        @include m.tablet{
            flex-direction: row;
            justify-content: space-between;
        }
    }
}