@use 'base/variables' as v;

@mixin boton ($color, $display) {
    padding: 1rem 2rem;
    background-color: $color;
    display: $display;
    border: none;
    color: v.$blanco;
    font-weight: 700;
    border-radius: 1rem;
    text-align: center;
    font-size: 1.8rem;
    overflow: hidden;

    @if($display == block){
        width: 100%;
    }@else{
        width: 100%;
        @include tablet{
            width: auto;
        }
    }

    &:hover{
        cursor: pointer;
        background-color: darken($color, 15%);
    }
}

@mixin bigDesktop{
    @media(min-width: 1100px){
        @content;
    }
}

@mixin desktop{
    @media(min-width: 992px){
        @content;
    }
}

@mixin tablet{
    @media(min-width: 768px){
        @content;
    }
}

@mixin telefono{
    @media(min-width: 480px){
        @content;
    }
}