$fuente-principal: 'Poppins', sans-serif;

$negro: rgb(0 0 0);
$blanco: rgb(255 255 255);
$grisOscuro: rgb(41, 41, 41);
$gris: rgb(124, 124, 124);
$grisClaro: rgb(213, 213, 213);
$verde: rgb(23, 200, 97);
$verdeClaro: rgb(40, 235, 131);
$rojo: rgb(247, 44, 44);
$rojoClaro: rgb(251, 98, 98);
$naranja: rgb(245, 144, 50);
$azulClaro: rgb(42, 193, 213);
$azul: rgb(37, 108, 222);
$azulRey: rgb(39, 89, 215);