@use 'base/mixins' as m;
@use 'base/variables' as v;

.sidebar .acciones {
    margin-top: 3rem;
    display: none;
    gap: 1rem;
    
    @include m.tablet{
        display: grid;
    }

    a {
        display: block;
        font-size: 1.8rem;
        font-weight: 700;
        padding: .5rem;
        transition: 300ms background-color ease;
        border-radius: .5rem;
        color: v.$blanco;

        &:hover {
            background-color: v.$secundario;
        }
    }
}