@use 'base/variables' as v;
@use 'base/mixins' as m;

.formulario {
    max-width: 70rem;
    width: 95%;
    margin: 5rem auto;

    .campo{
        margin-bottom: 4rem;

        label{
            color: v.$secundario;
            font-size: 2.2rem;
            font-weight: 600;
            margin-bottom: 2rem;
        }

        input:not([type="checkbox"]),
        input:not([type="radio"]),
        textarea,
        select {
            display: block;
            border: none;
            color: v.$secundario;
            background-color: transparent;
            padding: .75rem;
            width: 100%;
            border-bottom: 3px solid v.$terciario;
            outline: none;
        
            &::placeholder{
                color: v.$terciario;
            }
        }

        textarea {
            height: 15rem;
        }

        input:not([type="checkbox"]),
        input:not([type="radio"]),
        textarea {
            padding-bottom: 1.25rem;
            font-size: 1.6rem;

            @include m.tablet{
                font-size: 2rem;
            }
        }

        &.campo-flex {

            p {
                font-size: 2rem;
                font-weight: 700;
                color: v.$secundario;
                margin-bottom: 2rem;
            }
    
            .inputs {
                display: flex;
                align-items: center;
                gap: 3rem;
    
                .radio {
                    display: flex;
                    gap: 1rem;
    
                    label {
                        color: v.$terciario;
                        font-size: 1.6rem;
                        font-weight: 400;
                        margin: 0;
                    }
                }
            }
        }
    }
}