@use 'base/mixins' as m;
@use 'base/variables' as v;

.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 3rem 0 2rem 0;
    background: linear-gradient(to top, transparent, v.$grisOscuro);

    .contenedor{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navegacion{
        opacity: 0;
        visibility: hidden;
        width: 0;
        height: 0;

        @include m.desktop{
            opacity: 1;   
            visibility: visible;
            width: auto;
            height: auto;
        }
    }

    .menu {
        @include m.desktop{
            display: none;
        }
    }

    @media(max-width: 992px){
        &.header-fijo {
            z-index: 10;
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: rgba($color: v.$negro, $alpha: .4);

            .logo {
                display: none;
            }
            
            .menu {
                position: absolute;
                top: 3rem;
                right: 3rem;
            }
            
            .navegacion {
                opacity: 1;
                visibility: visible;
                width: 100vh;
                height: 100vw;
                align-items: center;
                justify-content: center;
            }
        }
    }
}


.perfil-mini {
    @include m.tablet{
        position: relative;
        background-color: v.$grisOscuro;
        border-radius: 50%;

        .imagen-perfil {
            width: 6rem;
            height: 6rem;

            img{
                border-radius: 50%;
            }
        }

        .cerrar-sesion {
            display: none;
        }

        &:hover {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;

            .cerrar-sesion {
                background-color: v.$grisOscuro;
                display: block;
                position: absolute;
                font-size: 1.4rem;
                border-bottom-left-radius: .5rem;
                border-bottom-right-radius: .5rem;
            }
        }
    }
}