@use 'base/mixins' as m;
@use 'base/variables' as v;

.sidebar {
    padding: 3rem 2rem;

    .autor {
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 2rem;
        background-color: v.$azulRey;
        padding: 1rem;
        border-radius: .5rem;

        img {
            grid-row: 1/3;
        }

        .nombre,
        .usuario {
            grid-column: 2/3;
            display: grid;
            place-content: center;
        }
    }

    .favorito {
        margin: 4rem 2rem;
        width: 2rem;
        height: 2rem;
        transform: rotate(45deg);
        position: relative;
        cursor: pointer;

        &::before,
        &::after {
            content: "";
            position: absolute;
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
        }

        &::before {
            left: -1rem;
            top: 0;
        }

        &::after {
            top: -1rem;
        }

        &.activo {
            background-color: v.$rojo;
            
            &::after,
            &::before {
                background-color: v.$rojo;
            }

            &:hover {
                background-color: darken($color: v.$rojo, $amount: 10%);
    
                &::after,
                &::before {
                    background-color: darken($color: v.$rojo, $amount: 10%);
                }
            }
        }
        
        &.inactivo {
            background-color: v.$grisClaro;

            &::after,
            &::before {
                background-color: v.$grisClaro;
            }

            &:hover {
                background-color: darken($color: v.$grisClaro, $amount: 10%);

                &::after,
                &::before {
                    background-color: darken($color: v.$grisClaro, $amount: 10%);
                }
            }
        }
    }

    .opciones {
        display: grid;
        gap: 2rem;
        margin-top: 3rem;

        button {
            padding: 1rem;
            font-size: 1.3rem;
        }
    }
}