@use 'base/mixins' as m;
@use 'base/variables' as v;

.sidebar {
    padding: 3rem 2rem;
    background-color: v.$terciario;

    .tres-puntos {
        @include m.tablet{
            display: none;
        }
    }

    .formulario {
        .campo {

            label {
                color: v.$claro;
            }

            input:not([type="checkbox"]),
            input:not([type="radio"]),
            textarea {
                color: v.$blanco;
                border-bottom-color: v.$claro;

                &::placeholder {
                    color: v.$claro;
                }
            }
        }
    }

    .aside-visible {
        display: none;

        @include m.tablet{
            display: block;
        }
    }
}

.opciones {
    display: grid;
    gap: 1rem;

    button {
        display: block;
        width: 100%;
        border-radius: .5rem;
        border: none;
        padding: .5rem;
        color: v.$blanco;
        background-color: v.$terciario;
        text-align: left;
        font-weight: bold;
        font-size: 1.8rem;
        transition: 300ms background-color ease;

        &:hover {
            cursor: pointer;
            background-color: v.$secundario;
        }
    }
}